<h1>Welcome to Photogram</h1>

<% if user_signed_in? %>
  <h2>Add a New Photo</h2>
  <%= render 'photos/form', photo: Photo.new %>
<% end %>

<h1>Recent Photos</h1>

<% @photos.each do |photo| %>
  <div class="photo">
    <% if photo.image.attached? %>
      <%= image_tag photo.image %>
    <% end %>
    <p><%= photo.caption %></p>
    <p>Posted by: <%= button_to photo.user.username, user_path(photo.user.username) %></p>

    <% if user_signed_in? %>
      <% if current_user.liked_photos.exists?(photo.id) %>
        <%= button_to 'Unlike', photo_like_path(photo), method: :delete %>
      <% else %>
        <%= button_to 'Like', photo_like_path(photo), method: :post %>
      <% end %>
    <% end %>
  </div>
<% end %>

<h1>List of Users</h1>

<table border="1">
  <tr>
    <th>Username</th>
    <th>Private?</th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.private? ? 'Yes' : 'No' %></td>
      <td><%= link_to 'Show details', user_path(user.username) %></td>
    </tr>
  <% end %>
</table>
