<h1>Welcome to Photogram</h1>

<% if user_signed_in? %>
  <h2>Add a New Photo</h2>
  <%= render 'photos/form', photo: Photo.new %>
<% end %>

<h1>Recent Photos</h1>

<% @photos.each do |photo| %>
  <div class="photo">
    <% if photo.image.present? %>
      <%= image_tag photo.image.url %>
    <% end %>
    <p><%= photo.caption %></p>
    <p>Posted by: <%= link_to photo.owner.username, user_path(photo.owner.username) %></p>

    <% if user_signed_in? %>
      <% if current_user.liked_photos.exists?(photo.id) %>
        <% like = photo.likes.find_by(fan: current_user) %>
        <%= link_to 'Unlike', 
            photo_like_path(photo, like), 
            method: :delete,
            class: "button" if like.present? %>
      <% else %>
        <%= link_to 'Like', 
            photo_likes_path(photo), 
            method: :post,
            class: "button" %>
      <% end %>
    <% end %>
  </div>
<% end %>

<h1>List of Users</h1>

<table border="1">
  <tr>
    <th>Username</th>
    <th>Private?</th>
    <th>Actions</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.private? ? 'Yes' : 'No' %></td>
      <td><%= link_to 'Show details', user_path(user.username) %></td>
    </tr>
  <% end %>
</table>
