<!DOCTYPE html>
<html>
  <head>
    <title>Photos Index</title>
  </head>
  <body>
    <h1>Photos</h1>

    <p style="color: green"><%= notice %></p>

    <%= form_with(model: Photo.new, local: true) do |f| %>
      <div>
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>

      <div>
        <%= f.label :caption %>
        <%= f.text_area :caption, placeholder: "Enter a caption for the photo" %>
      </div>

      <%= f.submit "Add photo" %>
    <% end %>

    <table border="1">
      <thead>
        <tr>
          <th>Image</th>
          <th>Caption</th>
          <th>Owner</th>
          <th>Posted</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @photos.each do |photo| %>
          <tr>
            <td>
              <% if photo.image.present? %>
                <%= image_tag photo.image.url, alt: photo.caption, class: 'img-responsive', width: "100" %>
              <% else %>
                <p>No image uploaded.</p>
              <% end %>
            </td>
            <td><%= photo.caption %></td>
            <td><%= photo.owner.username %></td>
            <td><%= time_ago_in_words(photo.created_at) %> ago</td>
            <td>
              <%= link_to "Show", photo_path(photo) %>
              <% if photo.owner == current_user %>
                | <%= link_to "Edit", edit_photo_path(photo) %>
                | <%= button_to "Delete", photo_path(photo), method: :delete, data: { confirm: "Are you sure?" } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
